*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --color-primary: #3d8168;
  --color-background: hsl(30, 38%, 92%);
  --color-accent: hsl(0, 0%, 100%);
  --color-heading: hsl(212, 21%, 14%);
  --color-body: hsl(228, 12%, 48%);
}

/* typography */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

/* button */
.btn {
  padding: 1.5rem 9.5rem;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.btn {
  color: var(--color-accent);
  background: var(--color-primary);
}

.btn--block {
  width: 100%;
}

.btn__icon {
  margin-right: 1rem;
  vertical-align: middle;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
